.container {
  display: flex;
  margin-left: 4rem;
}
.font-setting {
  margin-left: 1rem;
  font-size: 40px;
  color: hsl(237, 100%, 50%);
}
.weather-icon {
  margin-top: 0.75rem;
  width: 80px;
  height: 80px;
  border: 0.5px solid blue;
  border-radius: 50%;
  /*color: hsl(75, 100%, 50%); */
}
